.mainlogintop{
    height: 100px;
    width: 1510px;
    padding-top: 35px;
}
.title{
    height: 60px;
    width: 500px;
    margin-left: 450px;
    font-size: 50px;
    text-align: center;
    color: #1F6357;
    
}
#body{
    display: flex;
    flex-direction: row;
    height: 560px;
    width: 1510px;
}
.leftbody{
    width: 560px;
    background-image: url(../../../assets/login3.png);
    border-radius: 10px;
    margin-left: 30px;
}
.username{
    height: 40px;
    margin-top: 100px;
    margin-left: 220px;
    width: 400px;
    border-radius: 10px;
    border-color: #1F6357;
    text-align: center;
    border-width: 1px;
}
.password{
    height: 40px;
    margin-top: 30px;
    margin-left: 220px;
    width: 400px;
    border-radius: 10px;

    text-align: center;
    border-width: 1px;
    border-color: #1F6357;
}
.forgot{
    margin-left: 520px;
    font-size: 15px;
    color: #555D50;
}
#loginbutton{
    width: 150px;
    margin-left: 350px;
    background-color: #3CB371;
}
    
