.mainlogintop{
    background-color: palegreen;
    height: 100px;
    width: 1510px;
    padding-top: 35px;
}
.title{
    background-color: palevioletred;
    height: 60px;
    width: 500px;
    margin-left: 450px;
    font-size: 50px;
    text-align: center;
    color: #1F6357;
    
}
#body{
    display: flex;
    flex-direction: row;
    background-color: peachpuff;
    height: 560px;
    width: 1510px;
}
.leftbody{
    background-color: grey;
    width: 650px;
}