.regbody{
   background-color: palevioletred;
   height: 640px;
   width: 1480px;
   margin-top: 20px;
   margin-left: 20px;
   border-radius: 12px;
}
.regbodytop{
    background-color: palegreen;
    height: 80px;
}
.regt{
    color: #1F6357;
    font-size: 40px;
}
.regbodybottom{
    display: flex;
    flex-direction: row;
}
.regbdleft{
    background-color: coral;
    height: 560px;
    width: 800px;
}
.lt{
    background-color: #1F6357;
    height: 40px;
}
.nameid{
margin-left: 45px;
margin-top: 4px;
}
.txtbox{
    width: 320px;
}
.lb{
    background-color: orange;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 64px;
}
#outlined-basic{
    margin-left: 20px; 
}
