.regbody{
   background-color: palevioletred;
   height: 640px;
   width: 1480px;
   margin-top: 20px;
   margin-left: 20px;
   border-radius: 12px;
}
.regbodytop{
    background-color: palegreen;
    height: 80px;
}
.regt{
    color: #1F6357;
    font-size: 40px;
}
.regbodybottom{
    display: flex;
    flex-direction: row;
}
.regbdleft{
    background-color: whitesmoke;
    height: 560px;
    width: 800px;
}
.regbdright{
    background-color: aqua;
    width: 680px;
}
.lt{
    background-color: whitesmoke;
    height: 40px;
    color: #1F6357;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 12px;
}
.lr{
    background-color: orchid;
    height: 40px;
    color: #1F6357;
    margin-top: 5px;
    margin-left: 5px;
}
.nameid{
margin-left: 45px;
margin-top: 4px;
color: #1F6357;
}
.logid{
margin-left: 200px;
margin-top: 4px;
color: #1F6357;
padding-top: 4px;
}
.txtbox{
    width: 320px;
    color: #1F6357;
}
.lgbox{
    width: 320px;
    color: #1F6357; 
}
.lb{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 64px;
    color: #1F6357;
}
.lb2{
    margin-top: 20px;
    height: 64px;
    color: #1F6357;
    background-color: cornflowerblue;   
}
#outlined-basic{
    margin-left: 20px; 
}
