.regbody{
   background-color: palevioletred;
   height: 640px;
   width: 1480px;
   margin-top: 20px;
   margin-left: 20px;
   border-radius: 12px;
}
.regbodytop{
    background-color: palegreen;
    height: 80px;
}
.regt{
    color: #1F6357;
    font-size: 40px;
}
