.topheader{
    height: 75px;
    display: flex;
    flex-direction: row;
}
.topheaderleft{
    width: 1180px;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(100px);
    box-shadow: inset 0 0 0 50px rgba(204, 171, 171, 0.08);
    background-color: rgba(71, 117, 92, 0.15);
    
}
.topheaderright{
    background-color: #1F6357;
    width: 340px;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(100px);
    box-shadow: inset 0 0 0 50px rgba(204, 171, 171, 0.08);
    background-color: rgba(47, 99, 71, 0.15);
}
#loginbtn{
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
    border-color: #1F6357;
    color: #1F6357;
}
#registerbtn{
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px; 
    border-color: #1F6357;
    color: #1F6357;
    
}
#avatar{
   border-color: black;
   margin-top: 20px;
   margin-left: 20px;
}
#leftheaderbtns{
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-left: 100px;
    border: none;
    color: #1F6357;
}
.mainbody{
    display: flex;
    flex-direction: row;
}
.mainbodyleft{
    width: 800px;
    height: 610px;
}
.mbltop{
    height: 280px;
    width: 580px;
    margin-left: 140px;
    margin-top: 100px;
    text-align: center;
    color: #1F6357;
}
.toppara{
    font-size: 40px;
}
.botpara{
    font-size: 30px;
}
.mblbottom{
    height: 80px;
}
#mblbtn1{
    background-color: #C24641;
    margin-top: 20px;
    margin-left: 235px;
    border-radius: 16px;
    color: white;
}
#mblbtn2{
    margin-top: 20px;
    margin-left: 20px;
    color: #1F6357;
    border-radius: 16px;  
}
.mainbodyright{
    
    width: 750px;
}
.homepic{
    background-image: url(../../../assets/homepw1.JPG);
    width: 550px;
    margin-left: 150px;
    height: 530px;
    margin-top: 60px;
    border-radius: 10px;
    
}
