.topheader{
    background-color: palevioletred;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.topheaderleft{
    background-color: #22CE83;
    width: 1180px;
    display: flex;
    flex-direction: row;
}
.topheaderright{
    background-color: #22CE83;
    width: 340px;
    display: flex;
    flex-direction: row;
}
#loginbtn{
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
    border-color: white;
}
#registerbtn{
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px; 
    border-color: white;
}
#avatar{
   border-color: black;
   margin-top: 20px;
   margin-left: 20px;
}
#leftheaderbtns{
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    border: none;
}
.mainbody{
    display: flex;
    flex-direction: row;
}
.mainbodyleft{
    background-color: palevioletred;
    width: 800px;
    height: 610px;
}
.mainbodyright{
    
    width: 750px;
}
.homepic{
    background-image: url(../../../assets/homepw1.JPG);
    width: 550px;
    margin-left: 150px;
    height: 530px;
    margin-top: 60px;
    border-radius: 10px;

}
