.topheader{
    background-color: palevioletred;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.topheaderleft{
    background-color: #50C878;
    width: 1180px;
    display: flex;
    flex-direction: row;
}
.topheaderright{
    background-color: #50C878;
    width: 340px;
    display: flex;
    flex-direction: row;
}
#loginbtn{
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px;
    border-color: white;
}
#registerbtn{
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 15px;
    margin-left: 15px; 
    border-color: white;
}
#avatar{
   border-color: black;
   margin-top: 20px;
   margin-left: 20px;
   background-color: coral;
}
#leftheaderbtns{
    height: 40px;
    width: 150px;
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    border: none;
}